extends ../layoutMng

block content
	script(src='/ckeditor_4.6.0/ckeditor.js')
	.create-blog-warpper
		form( action=blog.title==undefind?"/manage/createBlog":"/manage/editBlog",method="post")
			.form-group
				<label for="title">博客标题</label>
				<input type="text" class="form-control" id="title" name='title' placeholder="标题" value="#{blog.title}" />
			.form-group
				<label for="slug">SLUG</label>
				<input type="text" class="form-control" id="slug" name='slug' placeholder="SLUG"  value="#{blog.slug}" />
			.form-group
				<label for="tags">关键热词</label>
				<input type="text" class="form-control" id="tags" name='tags' placeholder="关键词" value="#{blog.tags}" />
			.form-group
				<label for='blogType'>博客类型</label>
				select.form-control#blogType(name='blogType')
					each val,index in blogTypes
						option(value=val.name,selected=val.name===blog.blogType)=val.name
			.checkbox
				label.label-wrapper 发布
					input(type='checkbox',id='publicsh',name='publish',class='ml5',checked=blog.hidden==false)
				label.label-wrapper 删除
					input(type='checkbox',id='isDeleted',name='isDeleted',class='ml5',checked=blog.isDeleted)

			.form-group
				<label for="tags">博客摘要</label>
				<textarea row="10" class="form-control h90" id="summary" name='summary' placeholder="博客摘要">#{blog.summary}</textarea>

			.form-group
				<label for="editorBlog">博客正文</label>
				textarea(name='editorBlog',id='editorBlog')=blog.body
				script.
					var config = {
						extraPlugins: 'codesnippet,uploadimage',
						codeSnippet_theme: 'tomorrow-night',
						height:'600px'
					};
					CKEDITOR.replace( 'editorBlog', config );
			
			<input type='hidden' id='blogId' name='blogId' value="#{blog._id}" />
			button(type='submit',class='btn btn-primary w100') 保存

	script.
		$(function(){
			var isCreateBlog=$("form").attr('action').indexOf('createBlog')>-1;
			if(isCreateBlog){
				$("button[type='submit']").attr("disabled","disabled");
			}

			$("#slug").blur(function(){
				var $slut=$(this);
				$.ajax({
					method: "get",
					url: "/manage/isSlugExist",
					data: { slug: $slut.val(),id:$("#blogId").val()},
					success:function(data,txtStatus,obj){
						if(txtStatus=="success"){
							if(data.isExists){
								$slut.parent().addClass("has-error");
								$("button[type='submit']").attr("disabled","disabled");
							}else{
								$slut.parent().removeClass("has-error");
								$("button[type='submit']").removeAttr("disabled");
							}
						}
					},
					error:function(obj,txtStatus,error){
						alert(obj.responseText);
					}
				})
			});
		});
