extends ../layoutMng

block content
	form(class='form-inline',action='/manage',method="get")
		.form-group
			<label for="title">博客标题</label>
			input(type="text",class="form-control",id="title",name='title',placeholder="标题" value=query.title?query.title:"")
		.form-group
			<label for="title">关键字</label>
			input(type="text",class="form-control",id="tags",name='tags',placeholder="关键字" value=query.tags?query.tags:"")
		.form-group
			<label for='blogType'>博客类型</label>
			select.form-control#blogType(name='blogType')
				each val,index in blogTypes
					option(value=val.name selected=query.blogType==val.name)=val.name

			<label for='publish'>发布</label>
				<select id='hidden' name='hidden' class="form-control">
					option(value='0' selected=query.hidden=='0') 全部
					option(value='1' selected=query.hidden=='1') 已发布
					option(value='2' selected=query.hidden=='2') 未发布
				</select>

			<label for='isDeleted'>删除</label>
				<select id='isDeleted' name='isDeleted' class="form-control">
					option(value='0' selected=query.isDeleted=='0') 全部
					option(value='1' selected=query.isDeleted=='1') 已删除
					option(value='2' selected=query.isDeleted=='2') 未删除
				</select>
		
		button(type='submit',class='btn btn-primary w100 ml20') 查询
		<a target="_blank" href="manage/create" class="btn btn-primary w100 ml20" role="button">新建博客</a>

	.blog-type-wrapper.with-border
		table.table
			<col width="4%" />
			<col width="22%" />
			<col width="6%" />
			//<col width="14%" />
			<col width="10%" />
			<col width="6%" />
			<col width="6%" />
			<col width="6%" />
			<col width="6%" />
			<col width="12%" />
			<col width="12%" />
			<col width="10%" />
			thead
				tr
					th 序号
					th 
						a(href=paginate.href({ sort: 'title',order:order })) 标题
						if sort=='title'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'readCount',order:order })) 计数
						if sort=='readCount'
							include ../share/_orderImg.pug
					//
						th 
							a(href=paginate.href({ sort: 'slug',order:order  })) SLUG
							if sort=='slug'
								include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'tags',order:order  })) 标签
						if sort=='tags'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'blogType',order:order  })) 分类
						if sort=='blogType'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'hidden',order:order  })) 发布
						if sort=='hidden'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'isDeleted',order:order  })) 删除
						if sort=='isDeleted'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'author',order:order  })) 作者
						if sort=='author'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'date',order:order  })) 创建时间
						if sort=='date'
							include ../share/_orderImg.pug
					th 
						a(href=paginate.href({ sort: 'modifyDate',order:order  })) 修改时间
						if sort=='modifyDate'
							include ../share/_orderImg.pug
					th 操作
			if blogs
				each val,index in blogs
					tr
						td=val._doc.orderNumber
						td
							a(href="/manage/blogDetail/"+val.slug class=val.isDeleted ? 'deleted' : 'color-grey')=val.title
						td=val.readCount
						//td=val.slug
						td=val.tags
						td=val.blogType
						if val.hidden
							td='否'
						else
							td='是'
						if val.isDeleted
							td='是'
						else
							td='否'
						td=val.author
						td=moment.utc(val.date).add(8,"hours").format('YYYY-MM-DD hh:mm:ss')
						td=moment.utc(val.modifyDate).add(8,"hours").format('YYYY-MM-DD hh:mm:ss')
						td 
							<a target="_blank" class="btn btn-primary btn-xs" role="button" href="/manage/editBlog/#{val._id}">修改</a>
							<input name="btnDeleteBlog" type='button' class='btn btn-danger btn-xs ml5' data-id="#{val._id}" data-title="#{val.title}" value='删除'></input>
	include ../share/_paginate.pug

	script.
		$(function(){
			$("input[name='btnDeleteBlog']").click(function(){
				var title=$(this).data("title");
				var blogId=$(this).data("id");
				var confirmStr="博客标题："+title+"\n确认要删除该博客吗？"

				if(confirm(confirmStr)==true){
					$.ajax({
					  method: "POST",
					  url: "manage/deleteBlog",
					  data: { blogId: blogId},
					  success:function(data,txtStatus,obj){
					      if(data=="success"){
							location.href="/manage";
						  }
					  },
					  error:function(obj,txtStatus,error){
						alert(obj.responseText);
					  }
					})
				}
			});
		});
